.navbar_cust {
  text-transform: uppercase;
}
.video {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 70px;
}
.arrow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  transform: rotate(45deg) translate(-50%, 0%);
  border-width: 0px 3px 3px 0;
  border-color: rgba(0, 0, 0, 0.7);
  border-style: solid;
  animation: arrowHeader 1s infinite alternate;
  cursor: pointer;
}

.arrow:hover {
  transition: 0.3s;
  border-color: black;
}
@keyframes arrowHeader {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: 7%;
  }
}
